html, body {
  height: 100%;
  width: 100%;
}
.first img{
  position:absolute;
}
/*.div{display:flex;
    Padding:50px;
background-color:red;} ￼￼*/

h1{text-align:center;}
a{color:red;}
/*￼￼*/
.p{color: red;}
.round{color:red;
      border-radius:100%
      }

.click{border:50px;
       cursor:pointer;
}
.green{
color:#428c3b;} 
